.olyticsblocker{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    overflow:auto;
    z-index:1;
    padding:20px;
    box-sizing:border-box;
    background-color:#000;
    background-color:rgba(0,0,0,0.75);
    text-align:center
}



.olyticsblockerNoBlur{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    overflow:auto;
    z-index:1;
    padding:20px;
    box-sizing:border-box;
    background-color:#000;
    background-color:rgba(0,0,0,0.0);
    text-align:center
}

.olyticsblocker:before{
    content:"";
    display:inline-block;
    height:100%;
    vertical-align:middle;
    margin-right:-0.05em
}
.olyticsblocker.behind{
    background-color:transparent
}
.olyticsblockerNoBlur:before{
    content:"";
    display:inline-block;
    height:100%;
    vertical-align:middle;
    margin-right:-0.05em
}
.olyticsblockerNoBlur.behind{
    background-color:transparent
}
.olyticsmodal{
    display:none;
    vertical-align:middle;
    position:relative;
    z-index:2;
    max-width:500px;
    box-sizing:border-box;
    background:#fff;
    padding:15px 30px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -o-border-radius:8px;
    -ms-border-radius:8px;
    border-radius:8px;
    -webkit-box-shadow:0 0 10px #000;
    -moz-box-shadow:0 0 10px #000;
    -o-box-shadow:0 0 10px #000;
    -ms-box-shadow:0 0 10px #000;
    box-shadow:0 0 10px #000;
    text-align:left
}


.olyticsmodal a.close-olyticsmodal{
    position:absolute;
    top:-13.5px;
    right:-13.5px;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclose.png')
}
.olyticsmodal a.close-olyticsmodalblack{
    position:absolute;
    top:-13.5px;
    right:-13.5px;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclose.png')
}

.olyticsmodal a.close-olyticsmodalgrey{
    position:absolute;
    top:-13.5px;
    right:-13.5px;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosegrey.png')
}
.olyticsmodal a.close-olyticsmodalyellow{
    position:absolute;
    top:-13.5px;
    right:-13.5px;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xcloseyellow.png')
}
.olyticsmodal a.close-olyticsmodaldarkgrey{
    position:absolute;
    top:-13.5px;
    right:-13.5px;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosedarkgrey.png')
}
.olyticsmodal a.close-olyticsmodaldarkblue{
    position:absolute;
    top:-13.5px;
    right:-13.5px;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosedarkblue.png')
}
.olyticsmodal a.close-olyticsmodalwhite{
    position:absolute;
    top:-13.5px;
    right:-13.5px;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosewhite.png')
}
.olyticsmodal a.close-olyticsmodalblue{
    position:absolute;
    top:-13.5px;
    right:-13.5px;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xcloseblue.png')
}
.olyticsmodal a.close-olyticsmodalpurple{
    position:absolute;
    top:-13.5px;
    right:-13.5px;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosepurple.png')
}
.olyticsmodal a.close-olyticsmodalteal{
    position:absolute;
    top:-13.5px;
    right:-13.5px;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xcloseteal.png')
}
.olyticsmodal a.close-olyticsmodalgreen{
    position:absolute;
    top:-13.5px;
    right:-13.5px;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosegreen.png')
}
.olyticsmodal a.close-olyticsmodalorange{
    position:absolute;
    top:-13.5px;
    right:-13.5px;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xcloseorange.png')
}
.olyticsmodal a.close-olyticsmodalred{
    position:absolute;
    top:-13.5px;
    right:-13.5px;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosered.png')
}

a.close-persistent-bar{
    position:absolute;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclose.png')
}

a.close-persistent-barblack{
    position:absolute;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclose.png')
}

a.close-persistent-bargrey{
    position:absolute;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosegrey.png')
}
a.close-persistent-bardarkblue{
    position:absolute;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosedarkblue.png')
}
a.close-persistent-barwhite{
    position:absolute;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosewhite.png')
}
a.close-persistent-barblue{
    position:absolute;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xcloseblue.png')
}
a.close-persistent-barpurple{
    position:absolute;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosepurple.png')
}
a.close-persistent-barteal{
    position:absolute;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xcloseteal.png')
}
a.close-persistent-bargreen{
    position:absolute;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosegreen.png')
}
a.close-persistent-baryellow{
    position:absolute;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xcloseyellow.png')
}
a.close-persistent-barorange{
    position:absolute;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xcloseorange.png')
}
a.close-persistent-barred{
    position:absolute;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosered.png')
}
a.close-persistent-bardarkgrey{
    position:absolute;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosedarkgrey.png')
}
div.close-olytics-image-bottom-mid{
    display:block;
    position:absolute;
    right:5px;
    top:5px;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclose.png')
}
div.close-olytics-image-bottom-midblack{
    display:block;
    position:absolute;
    right:5px;
    top:5px;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclose.png')
}
div.close-olytics-image-bottom-midorange{
    display:block;
    position:absolute;
    right:5px;
    top:5px;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xcloseorange.png')
}
div.close-olytics-image-bottom-midgrey{
    display:block;
    position:absolute;
    right:5px;
    top:5px;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosegrey.png')
}
div.close-olytics-image-bottom-middarkgrey{
    display:block;
    position:absolute;
    right:5px;
    top:5px;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosedarkgrey.png')
}
div.close-olytics-image-bottom-midblue{
    display:block;
    position:absolute;
    right:5px;
    top:5px;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xcloseblue.png')
}
div.close-olytics-image-bottom-middarkblue{
    display:block;
    position:absolute;
    right:5px;
    top:5px;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosedarkblue.png')
}
div.close-olytics-image-bottom-midwhite{
    display:block;
    position:absolute;
    right:5px;
    top:5px;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosewhite.png')
}
div.close-olytics-image-bottom-midpurple{
    display:block;
    position:absolute;
    right:5px;
    top:5px;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosepurple.png')
}
div.close-olytics-image-bottom-midteal{
    display:block;
    position:absolute;
    right:5px;
    top:5px;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xcloseteal.png')
}
div.close-olytics-image-bottom-midgreen{
    display:block;
    position:absolute;
    right:5px;
    top:5px;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosegreen.png')
}
div.close-olytics-image-bottom-midyellow{
    display:block;
    position:absolute;
    right:5px;
    top:5px;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xcloseyellow.png')
}
div.close-olytics-image-bottom-midred{
    display:block;
    position:absolute;
    right:5px;
    top:5px;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xclosered.png')
}
div.close-olytics-image-bottom-midyellow{
    display:block;
    position:absolute;
    right:5px;
    top:5px;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url('https://olytics.omeda.com/olytics/img/xcloseyellow.png')
}

.olyticsmodal-spinner{
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    transform:translateY(-50%) translateX(-50%);
    padding:12px 16px;
    border-radius:5px;
    background-color:#111;
    height:20px
}
.olyticsmodal-spinner>div{
    border-radius:100px;
    background-color:#fff;
    height:20px;
    width:2px;
    margin:0 1px;
    display:inline-block;
    -webkit-animation:sk-stretchdelay 1.2s infinite ease-in-out;
    animation:sk-stretchdelay 1.2s infinite ease-in-out
}
.olyticsmodal-spinner .rect2{
    -webkit-animation-delay:-1.1s;
    animation-delay:-1.1s
}
.olyticsmodal-spinner .rect3{
    -webkit-animation-delay:-1.0s;
    animation-delay:-1.0s
}
.olyticsmodal-spinner .rect4{
    -webkit-animation-delay:-0.9s;
    animation-delay:-0.9s
}
@-webkit-keyframes sk-stretchdelay{
    0%,40%,100%{
        -webkit-transform:scaleY(0.5)
    }
    20%{
        -webkit-transform:scaleY(1.0)
    }
}
@keyframes sk-stretchdelay{
    0%,40%,100%{
        transform:scaleY(0.5);
        -webkit-transform:scaleY(0.5)
    }
    20%{
        transform:scaleY(1.0);
        -webkit-transform:scaleY(1.0)
    }
}
.olyticsShadow{
    -webkit-box-shadow:0 0 10px #808080;
    -moz-box-shadow:0 0 10px #808080;
    -o-box-shadow:0 0 10px #808080;
    -ms-box-shadow:0 0 10px #808080;
    box-shadow:0 0 10px #808080;
}
.olyticsBootstrapFix{
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
}